@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: 'Dejaweb';
	src: url('../assets/fonts/NotoSansGurmukhi-Regular.ttf');
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
    overflow: hidden;
    background-color: #32313B;
}


.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dejaweb'
}
.row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.punjabi_title {
	color:#EC3F8C;
}

.pun_ladivaar {
	color:#EC3F8C;
}

.english_title {
	color:#39B1C6;
}

.eng_ladivaar {
	color:#EC3F8C;
}

.dash {
	color:#39B1C6;
}

h1 {
    color: #F7941E;
    padding: 5px;
    margin: 10px;
    font-weight: 600;
    font-size: 60PX;
}

h4 {
    color: #F7941E;
    padding: 5px;
    margin: 10px;
    font-weight: 600;
    font-size: 42PX;
}

.tatkra {
	position: absolute;
	top: 0px;
	left: 95%;
	height: 100%;
	width:70%;
	float: left;
	display: flex;
	background-color: yellow;
    transition: all ease 1.5s;
}

.tatkra_handle {
	background-color: #25242C;
	width: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tatkra:hover{
	background-color: pink;
	left:30%;
    transition: all ease 1.5s;
}

.tatkra_body {
	background-color: #e8e8e8;
	width: 95%;
	overflow-y: scroll;
	display:flex;
	flex-direction: column;
}

.primaryItem {
	align-self: center;	
}

#angNoText {
	border:none;
	background-color: #8e44ad;
	height: 20px;
	width: 100px;
	font-size: 16px;
	color: rgba(255,255,255,0.6);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	text-align: center;
}

#angNoText::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}
#angNoText::-moz-placeholder { /* Firefox 19+ */
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}
#angNoText:-ms-input-placeholder { /* IE 10+ */
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}
#angNoText:-moz-placeholder { /* Firefox 18- */
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

.tatkra_list {
	width: 100%;
	/*height: auto;*/
	background-color: #e8e8e8;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.goToAngNoContainer {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: center;
}

.tatkra_item {
	width: 150px;
	height: 170px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: rgba(255,255,255,0.5);
}
.tatkra_item_header {
	width: 100%;
	height: 70px;
	display: flex;
	z-index: 1;
	justify-content: center;
	background: linear-gradient(transparent 50%, #8e44ad 50%);
}

.tatkra_item_content {
	width: 100%;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.tatkra_item_header:hover + .tatkra_item_content {
	box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5);
}

.tatkra_item_body {
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tatkra_item_content:hover {
	box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5);
}

.tatkra_item_footer {
	width: 100%;
	height: 30px;
	background-color: rgba(0,0,0,0.1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.item_circle {
	width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    border: 3px solid rgba(255,255,255,0.3)
}


/*
animation button - breathing
*/

#breathing-button {
    width: 50px;
    border: 1px solid #d1d1d1;
    -webkit-animation: breathing 1.2s ease-out infinite normal;
    animation: breathing 1.2s ease-out infinite normal;
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    text-align: center;    
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


.dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}

.orange {
    background-color: #f39c12;
}

.blue {
    background-color: #2980b9;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}